@import '../../styles/color.scss';

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    .topRight{
        display: flex;
        align-items: center;
        
        .topRightIcons{
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin-left: 2rem;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
            svg{
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
    .searchForm{
        width: 44%;
        display: flex;
    }
    .cart{
        position: relative;
        opacity: 1 !important;
    }
    .cartCount{
        position: absolute;
        width: 23px;
        height: 22px;
        display: flex;
        background-color: $blue;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        top: -14px;
        right: -8px;
        color: $white;
        font-weight: bold;
        font-size: 12px;
    }
}