.banners {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}
@media (max-width: 767px) {
    .banners{
        height: 170px;
    }
}